/* Default layout */

body {
    font-family: 'Headland One', helvetica, arial, serif;
    font-size: small;
    font-weight: normal;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
    background-color: #FFF;
    color: #222;
}

h1, h2, h3, h4, h5 {
    font-family: 'Headland One', helvetica, arial, serif;
    font-weight: normal !important;
}
h1 {
    font-size: 24.5px;
}
@media (min-width: 768px) {
    h1 {
        font-size: 50.5px;
    }
}
h2 {
    font-size: 30.5px;
    color: #FFF;
}
h3 {
    font-size: 18.5px;
}

a {
    text-decoration: underline;
    color: #222;
}
a:hover {
    color: #222;
    text-decoration: none;
}

.btn {
    padding: 15px 30px;
    text-transform: uppercase;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;
    text-decoration: none;
    font-weight: normal !important;
}

@media (max-width: 480px) {
    #forkme {
        display: none;
    }
}

#navbar {
    padding: 30px 0 40px 0;
    background: url('../images/saguenay-small.jpg') center bottom no-repeat #2980B9;
    #background: url('../images/saguenay.jpg') center bottom no-repeat #2980B9;
    color: #FFF;
}
@media (min-width: 768px) {
    #navbar {
        padding: 120px 0 140px 0;
        background-image: url('../images/saguenay.jpg');
    }
}

    #navbar h1 {
        margin-bottom: 40px;
        text-shadow: 2px 2px 0 #666;
    }

    #navbar h1 span {
        font-family: 'Dancing Script';
        font-size: 240%;
    }

    #navbar p {
        text-shadow: 1px 1px 0 #222;
    }

    #navbar .btn {
        display: block;
        margin-top: 20px;
        border: none;
        border-radius: 3px;
        background: #27AE60;
        box-shadow: 0 3px 0 #18703D;
        color: #FFF;
    }
    @media (min-width: 768px) {
        #navbar .btn {
            margin-top: 50px;
        }
    }
    #navbar .btn:hover {
        background-color: #1F8E4D;
    }

#cie {
    margin: 40px auto 20px auto;
}
@media (min-width: 768px) {
    #cie {
        margin: 80px auto 40px auto;
    }
}

    #cie > .row {
        margin-bottom: 40px;
    }

        #cie > .row > .col-md-12 > .btn {
            background-color: #FFF;
            color: #666;
            border-color: #CCC !important;
        }
        #cie > .row > .col-md-12 > .btn.selected {
            background-color: #CCC;
            color: #222;
        }

    #cie .col-md-4 {
        margin-bottom: 40px;
    }

        #cie .col-md-4 a {
            display: block;
            position: relative;
            height: 200px;
            line-height: 180px;
            vertical-align: middle;
            border: 10px solid #EEE;
            text-decoration: none;
        }
        #cie .col-md-4 a:hover {
            border-color: #CCC;
        }
        #cie .col-md-4 .dark {
            background-color: #CCC;
        }
        #cie .col-md-4 .lygue {
            background-color: #226802;
        }

        #cie .col-md-4 .text {
            font-size: 200%;
            color: #222;
            text-decoration: none;
        }
        #cie .col-md-4 .text.wibeset {
            font-family: 'Dancing Script';
            font-size: 500%;
            font-weight: bold;
        }
        @media (min-width: 768px) {
            #cie .col-md-4 .text.wibeset {
                font-size: 600%;
            }
        }

            #cie .col-md-4 .hiring {
                position: absolute;
                top: 0; right: 0;
                width: 0;
                height: 0;
                border-right: 30px solid #f1c40f;
                border-bottom: 30px solid #FFF;
            }

            #cie img {
                max-width: 70%;
            }

#avantages {
    padding: 40px 0;
    background-color: #040100;
}
@media (min-width: 768px) {
    #avantages {
        padding: 80px 0;
    }
}

    #avantages h2 {
        padding-top: 20px;
        text-transform: uppercase;
        border-top: 5px solid #FFF;
    }

    #avantages ul {
        padding-top: 36px;
    }
    #avantages li {
        line-height: 24px;
        font-size: 120%;
        color: #FFF;
    }
    @media (min-width: 768px) {
        #avantages li {
            line-height: 40px;
            font-size: 200%;
        }
    }

#infos {
    padding: 20px 0 40px 0;
}
@media (min-width: 768px) {
    #infos {
        padding: 40px 0 80px 0;
    }
}

    #infos h2 {
        margin-bottom: 50px;
        padding-top: 20px;
        text-transform: uppercase;
        border-top: 5px solid #666;
        color: #666;
    }

    #infos .col-md-8 .col-md-3 {
        margin-top: 20px;
    }
    @media (min-width: 768px) {
        #infos .col-md-8 .col-md-3 {
            margin-top: 40px;
        }
    }

        #infos .col-md-8 .col-md-3 a {
            display: block;
            width: 100%;
            height: 140px;
            line-height: 120px;
            vertical-align: middle;
            text-align: center;
            border: 10px solid #EEE;
            text-decoration: none;
        }

        #infos .col-md-8 .col-md-3 a:hover {
            border-color: #CCC;
        }

            #infos img {
                width: auto;
                max-width: 90%;
                height: 90%;
            }

        #infos .col-md-8 .col-md-3 a#io {
            font-size: 90px;
        }

#suggest {
    padding: 80px 0;
}

    #suggest h3 {
        font-size: 200%;
    }

    #suggest .btn {
        margin: 20px 0 80px 0;
        border: none;
        border-radius: 3px;
        background: #27AE60;
        box-shadow: 0 3px 0 #18703D;
        color: #FFF;
    }
    #suggest .btn:hover {
        background-color: #1F8E4D;
    }

    #suggest p {
        font-size: 120%;
        color: #666;
    }
